<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-Product</title>
    <link rel="stylesheet" href="/css/main.css">

   
</head>
<body>
    <header class="main-header">
        <nav>
            <ul>
                <li><a href="/admin/add-product">Add-Product</a></li>
                <li><a href="/">Shop</a></li>
                <li><a href="/contactus">contactus</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/admin/add-product" method="POST">
            <label for="product"></label>
            <input type="text" name="product" id="product">
            <button type="submit">Add</button>
        </form>
    </main>
    
</body>
</html>
<script>
    const productForm=document.querySelector("form")
    productForm.addEventListener("submit",handleProduct)
    function handleProduct(event){
        event.preventDefault();
        const product=productForm.elements[0].value
        fetch("/admin/add-product",{
            method:"POST",
            headers:{
                'Content-Type':'application/json',
            },
            body:JSON.stringify({product:product})
        })

    }
    function getProduct(){
        fetch("/admin/add-product",{
            method:"GET",
            headers:{
                'Content-Type':'application/json'
            }
        }).then((res)=>res.json()).then((data)=>{
            console.log(data)
        })
    }
    getProduct()
</script>